/*LESS CSS DOCUMENT*/

/**
 * Grab Bootstrap LESS files
 * Update these references if files are in a new location.
 */

@import "bootstrap/less/bootstrap.less";
@import "bootstrap/less/responsive.less";

/*
 * Various useful functions / utilities
 */


@import "utils.less";

/*
YOUR CODE GOES HERE
-------------------------------------------------
 */

/* 
BASE STRUCTURE ---
*/
div#pageContainer { }

/* 
PAGE HEADER ---
*/
header#pageHeader { }
div#pageheaderLeft { } /* Main logo area */
div#pageheaderRight { } /* Header functions area */

/* 
MENU ---
*/

nav#topMenu { } /* Menu background */
div#topmenuContent { } 

/*
PAGE CONTENT ---
 */
div#contentContainer { }
section#contentSection { }
header#sectionHeader { }
section#sectionBody { }
footer#sectionFooter { }

/*
SIDEBAR ---
 */
aside#contentAside { }

/*
PAGE FOOTER ---
 */
footer#pageFooter { }
div#pagefooterLeft { } /* Footer functions / menu area */
div#pagefooterRight { } /* Footer logo */


/* 
FOOTER FIXED TO BOTTOM --- Comment out to deactivate
http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ 
*/
@footerHeight: 250px; //Set the footer height here
@negFooterHeight: (@footerHeight - @footerHeight - @footerHeight); //Creates a negative number
* {margin:0px;}
html, body {height: 100%; /* The html and body elements cannot have any padding or margin. */ }
#bottomfooterFixed, #footerFixedPush {height:@footerHeight;}
div#topFooterFixed {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto @negFooterHeight;}
div#footerFixedPush { }
div#bottomFooterFixed { }



/*
END CODE
---------------------------------------------------
 */

/*
Media Queries
 */

@import "queries.less";

