/*
Custom Useful Mixins
 */

/* Twitter Bootstrap - Hover Menu Item Option
Enable this code to turn on hover-on-mouseover functionality for menus
This may cause weird issues with the menu in mobile viewports.
You will also need to remove the following from the Jquery calls section of the HTML code: $(".dropdown-toggle").attr("data-toggle", "dropdown"); */

/*
ul.nav li.dropdown:hover ul.dropdown-menu {display: block;}
a.menu:after, .dropdown-toggle:after {content: none;}
.navbar .dropdown-menu {margin-top: 0px;}
 */

/*Add a FontAwesome icon before an item: http://astronautweb.co/snippet/font-awesome/ 
  Usage example: .menu-welcome > a {&:before {.icon-before("\f004"); color:#ddd;} }
  Only works in IE8+ natively. 
*/
.icon-before (@iconb) {content: @iconb; font-family: FontAwesome; margin-right:10px;}
.icon-after (@icona) {content: @icona; font-family: FontAwesome; margin-left:10px;}

/*Conditional warning display for old IE browsers */
.old-browser {display:none;}
.lt-ie7 .old-browser {display:block;} 

.alignleft {float: left; margin: 0 1em 1em 0;}
.alignright {float: left; margin: 0 0 1em 1em;}

/*Add various line rules to elements*/
.trule (@distance: 5px, @width: 1px, @rulecolor: #ccc;) 
{margin-top: @distance; padding-top: @distance; border-top: @width solid @rulecolor}
.brule (@distance: 5px, @width: 1px, @rulecolor: #ccc;) 
{margin-bottom: @distance; padding-bottom: @distance; border-bottom: @width solid @rulecolor}
.lrule (@distance: 5px, @width: 1px, @rulecolor: #ccc;) 
{margin-left: @distance; padding-left: @distance; border-left: @width solid @rulecolor}
.rrule (@distance: 5px, @width: 1px, @rulecolor: #ccc;) 
{margin-right: @distance; padding-right: @distance; border-right: @width solid @rulecolor}
/* Simple outlined / filled rounded-edge elements - change global variables here on the line below. */
.rbox (@radius: 5px; @outline: 1px; @outfill: #000; @fill: #ccc; @text: #000;) 
{padding: 0.2em 0.5em; margin: 0.2em 0.5em; .border-radius(@radius); border:@outline solid @outfill; background:@fill; color:@text;
a {color:@text; text-decoration: none;}
} 

